* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dark-mode {
    background-color: #000;
    color: white;
}

.dark-mode i.bi{
    color: white;
}

.dark-mode .item4 img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 0px solid transparent;
    background-image: linear-gradient(90deg, rgba(246, 236, 236, 0.331), rgba(193, 183, 183, 0.35));
    border-radius: 5px;
}



.list-menu{
    display: none;
}

.menu-responsive {
    display: none;
}

.img-fondo{
    position: absolute;
    width: 100%;
    z-index: -1;

}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #bbb;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    flex-wrap: wrap;

}

.logo {
    width: 50px;
    height: 50px;
}

.nav-bar {
    display: flex;
    width: 50%;
    justify-content: end;
    flex-wrap: nowrap;
    text-align: center;
    align-items: baseline;
    
}

a {
    text-decoration: none;
}

.nav-bar a {
    text-decoration: none;

}

.nav-bar a:visited {
    color: inherit;
}


ul {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 3rem;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;

}

.nav-bar .icon{
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
    flex-wrap: wrap;

}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    flex-wrap: wrap;
    padding-bottom: 10%;
    background-image: url("/img/15616101.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    max-width: 100%;

}

.foto-inicio {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 50%;
    z-index: 1;
    padding-left: 5rem;
}

img.info-foto{
    max-width: 100%;
    border-radius: 25%;
}

.info-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    width: 50%;
    padding-left: 5rem;
    
}

.info-inicio h1{
    font-size: 3rem;
    padding: 0;
    margin-bottom: 2rem;
}

.info-inicio h3{
    font-size: 2rem;
    padding: 0;
    margin-bottom: 2rem;
}

.info-inicio button{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 90px;
    padding: .50rem .75rem;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.img-sobre-mi{
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: .3;

}

.h3-sobremi {
    width: 100%;
}

h1.animated-text {
    font-weight: 600;
    font-size: 3rem;
}

.h3h3-sobremi{
    display: flex;
    padding: .75rem 0 .75rem 6rem;
    width: 20rem;
    background-color: #1717152f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.p-sobremi {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding: 3rem 18rem;
    flex-wrap: nowrap;

}

.h3-mivida {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2.5rem;
    margin: 0;
}

/* slider hechopor mi, pero bueno, el otro es mejor. 

.slider {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5rem 0;
}

.slides {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s; 
}

.slide {
    min-width: calc(100% / 3); 
    height: auto;
    display:flex; 
    justify-content:center; 
    align-items:center; 
}

.slide img {
    width:auto; 
    max-height :200px; 
    object-fit :cover; 
    border-radius :20%;  
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}

.prev i,.next i {
    font-size: 2rem;
}

.arrow:hover {
    padding: 0;
}

.arrow.prev {
    left: 20%;
}

.arrow.next {
    right: 20%;
}

 */

.gallery{
    width: 100%;
}

.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;

}

.gallery-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    max-width: 50%;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
    object-fit: cover;
}

/* .gallery-container img{
    height: auto;
    object-fit: cover;
} */

.gallery-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
    height: 250px;
    opacity: .8;
    width: 380px;
    z-index: 1;

}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);

}

.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;

}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);

}

.gallery-item-5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);

}

.gallery-controls{
    display: flex;
    justify-content: center;
    height: 100px;
    
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;

}

.gallery-controls-button:focus{
    outline: none;
}

.gallery-controls-previous{
    position: relative;

}

.gallery-controls-previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left .15s ease-in-out;
    width: 5px;

}

.gallery-controls-previous:hover::before{
    left: -40px;
}

.gallery-controls-next{
    position: relative;

}

.gallery-controls-next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;

}

.gallery-controls-next:hover::before{
    right: -40px;

}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;

}

.gallery-nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;

}

.gallery-nav li.gallery-selected{
    background: #555;
}

/* IMAGEN QUE SE ABRE GRANDE  */

.lightbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close-lightbox {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.section3{
    padding: 3rem 0 0 0;
    margin: 0;
    
    
}

#carousel-container {
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 3rem 0 3rem 0;

}

#image-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    padding: 0 0 2.5rem 0;
    max-width: 100%;
    
}

.carousel-image {
    width: 15rem; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantén la relación de aspecto original */
    
    
}

.carousel-image {
    filter: brightness(1.3) contrast(1.3);
    animation: combinedAnimation 3s infinite linear alternate;
}

@keyframes combinedAnimation {
    0% {
        transform: scale(0.5) ;
    }
    25% {
        transform: scale(0.75) ;
    }
    50% {
        transform: scale(1) ;
    }
    75% {
        transform: scale(0.75) ;
    }
    100% {
        transform: scale(0.5);
    }
}


#prev-btn, #next-btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


.habilidades{
    display: flex;
    width: 25rem;
    background-color: #1717152f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: .75rem 0 .75rem 6rem;
    
}

.img-habil{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem 0;
    
}

img.id-habiL {
    width: 15rem;
    height: auto;
    display: inline-block;
    flex-wrap: nowrap;
    padding: 5rem 0;
}

.img-habilidades {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .75rem 0;
}


.id-habilidad img {
    width: 1.5rem;
    height: auto;
    display: inline-block;
}

.img-habilidades a:hover {
    filter: brightness(1.3) contrast(1.3);
    animation: rotateAnimation 1s infinite linear; /* Aumenté la duración para hacer la rotación más suave */
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(35deg); 
    }
    50% {
        transform: rotate(0deg); 
    }
    75% {
        transform: rotate(-35deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

/* Efecto de transición en la imagen dentro del contenedor a:hover */
/* .img-habilidades a:hover img {
    transform: scale(1.5);

} */


.section4{
    margin: 0;
    padding: 2rem 0 0 0;
    max-width: 100%;
}

.educacion {
    display: flex;
    width: 25rem;
    background-color: #1717152f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: .75rem 0 .75rem 6rem;

}

.grid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    padding: 5rem 5rem;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;

}

.grid-container .fondo-educacion {
    position: absolute;
    opacity: 0.1;
    object-fit: cover; 
    width: 90%;
    z-index: -2;
    flex-wrap: wrap;
    padding: 0;
}


.grid-container img {
    width: 100%;
    padding: .5rem;
    
}

.grid-item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Agrega transiciones para los elementos visibles */

}

.grid-item.hidden {
    opacity: 0;
    transform: scale(0); 
    transition: opacity 0.3s ease, transform 0s ease; 
}


.grid-item.hidden.show {
    opacity: 1;
    transform: scale(1); 
    transition: opacity 0.05s ease, transform 0.3s ease; 
    
}


.item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item4 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    
}

.item4 img:hover {
    filter: contrast(1.3);
    animation: diplomasanimation 3s infinite linear alternate;
}

@keyframes diplomasanimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.35);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.item4 img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 0 solid transparent;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.179), rgba(0, 0, 0, 0.51));
    border-radius: 5px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.826);
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

#overlay img {
    max-width: 50%;
    max-height: auto;
    object-fit: cover;
    border: 1rem solid rgba(255, 252, 252, 0.47);
    padding: 0 0;
    margin: 0;
    background-size: contain;
    object-fit: contain;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.section5{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.proyectos {
    display: flex;
    width: 22rem;
    background-color: #1717152f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 5rem;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: .75rem 0 .75rem 6rem;
    
}

.grid-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr); /* Definir dos filas con altura flexible */
    grid-auto-rows: 1fr; /* Altura automática para las filas adicionales */
    width: 100%;
    gap: 1rem;
    align-items: center;
    padding: 0 2rem;
}


.grid-proyectos img{
    width: 100%;
    height: auto;
    padding: .5rem .5rem;
    /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.179), rgba(0, 0, 0, 0.51)); */
    
}

.grid-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: pointer;
    width: 75%;
    position: relative;
    left: 15%;
}
.grid-item2 {
    grid-column: 2/3;
    grid-row: 2/3;
    cursor: pointer;
    position: relative;
    bottom: 50%;
    right: 12%;

}

.grid-proyectos a.grid-item2{
    width: 125%;
}

.grid-item3 {
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    width: 75%;
    position: relative;
    left: 10%;



}
.grid-item4 {
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
    width: 50%;
    position: relative;
    left: 25%;

}
.grid-item5 {
    grid-column: 3/4;
    grid-row: 2/3;
    cursor: pointer;
    width: 50%;
    position: relative;
    left: 25%;

}

.section6{
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.481),rgba(0, 0, 0, 0.177)),url("/img/fondocontacto.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
}

.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:crimson;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid crimson;
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:crimson;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(172, 16, 47);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
}


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}

.grid-prueba {
    display: none;
}

.h4-proy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;

}
.proy-media{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.proy-media-query ul a {
    background: linear-gradient(to right,#d5d4da);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: .50rem .50rem;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    transition: 1s linear;
}

.proy-media-query ul a:hover{
    cursor: pointer;
    background: #5b53539c;

}

.grid-proyectos h4{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;

}

/* /////////////MEDIAQUERYS///////////// */
/* /////////////MEDIAQUERYS///////////// */
/* /////////////MEDIAQUERYS///////////// */


@media screen and (max-width: 1500px) {

    .menu {
        display: flex;
    }

    ul {
        gap:0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        gap: 2rem;
    }

    .grid-container{
        padding: 0;
    }

    .grid-container .fondo-educacion{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1250px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .menu {
        display: flex;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        gap: 2rem;
    }

    .h3h3-sobremi{
        width: 50%;
        justify-content: center;
        padding: .75rem 0;
        margin-left: 25%;
        border-radius: 5rem;
        font-size: 2.5rem;
    }

    .p-sobremi {
        padding: 2rem 1rem;
        font-size: 1.5rem;
    }
    
    .h3-mivida {
        font-size: 2.5rem;
    }

    .gallery-container {
        width: 75%;
    }

    #overlay-img {
        min-width: 85%;
    }

    #close-btn {
        display: flex;
    }

    .habilidades{
        width: 50%;
        justify-content: center;
        padding: .75rem 0;
        margin: 5% 25%;
        border-radius: 5rem;
        font-size: 2.5rem;

    }

    .img-habilidades{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2rem;
        min-width: none;
    }

    .img-habilidades img {
        display: inline-block;
        min-width: 150%;
        padding: 0;
        margin: 0;
        
        

    }

    .section3 {
        background-image: none;
        max-width: 100%;
    }

    .educacion{
        width: 50%;
        justify-content: center;
        padding: .75rem 0;
        margin: 5% 25%;
        border-radius: 5rem;
        font-size: 2.5rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0 1rem;
        
    }

    .grid-container p{
        font-size: 1.5rem;
    }

    .item1{
        grid-column: 4/-1;
        grid-row: 1/-1;
        align-items: center;
        justify-content: center;
        padding: 0 0 1rem 0;

        
    }

    .item2{
        grid-column: 1/5;
        grid-row: 2/3;
        align-items: center;
        justify-content: center;
        padding: 0 0 1rem 0;

    }

    .item3{
        grid-column: 1/5;
        grid-row: 3/4;
        align-items: center;
        justify-content: center;


    }

    .item1 img {
        width: 55%;
        padding-top: 2rem;
    }

    .item2 img {
        width: 55%;
        padding-top: 2rem;
    }

    .item3 img {
        width: 55%;
        padding-top: 2rem;
    }

    .item4{
        grid-column: 1/5;
        grid-row: 4/5;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-container .fondo-educacion {
        display: none;
    }

    .grid-proyectos {
        display: none;
    }

    .proyectos {
        width: 50%;
        justify-content: center;
        padding: .75rem 0;
        margin: 5% 25%;
        border-radius: 5rem;
        font-size: 2.5rem;
    }

    .grid-prueba {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 3rem;
    }

    .grid-prueba a img{
        width: 100%;
        height: auto;
        
    }

    a.prueba2{
        grid-column: 1/3;
        grid-row: 1/3;
    }

    a.prueba5{
        width: 75%;
        grid-column: 1/2;
        grid-row: 4/-1;
        left: 15%;
        position: relative;
    }

    a.prueba4{
        grid-column: 2/3;
        grid-row: 3/5;
        right: 10%;
        top: 3.5%;
        position: relative;
    }

    .h4-proy {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;

    }

    
    .proy-media{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    ul a {
        text-decoration: none;
        color: black;
    }

    .grid-prueba h4{
        padding: 1.2rem 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .grid-prueba p{
        padding: 0rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width:680px) {


    .open-menu {
        border: none;
    }

    aside{
        display: none;
    }

    .list-menu {
        display: flex;

    }

    .list-menu ul{
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.846);
        flex-direction: column;
        padding: 50% 0 100% 0;
        z-index: 5;

    }
    .list-menu ul a{
        color: white;

    }

    .icon-responsive {
        display: flex;
        gap: 1rem;
    }
    .icon-responsive a {
        color: white;
    }

    .menu {
        display: none;
    }

    .menu-responsive {
        display: flex;
        position: absolute;
    }

    .menu-responsive button i{
        position: fixed;
        font-size: 3rem;
        z-index: 101;
        padding: 0;
        left: 2%;
        top: 1%;
        color: black;
        
    }

    /* .menu-responsive i:hover{
    
    } */

    .info-inicio {
        padding: 0 0;

    }
    
    .info-inicio h1 {
        font-size: 1.5rem;
        margin: 0 0 .5 0;
    }

    .info-inicio button {
        font-size: .75rem;
        padding: .25rem .50rem;

    }
    
    .foto-inicio {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0;

    }

    img.info-foto {
        max-width: 65%;

    }

    .section {
        border-radius: 0;
        margin-bottom: 1rem;
    }

    .h3h3-sobremi {
        width: 90%;
        display: flex;
        padding: 0;
        margin: 0;
        font-size: 1.75rem;
    }

    .sobremi-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .p-sobremi {
        font-size: 1.2rem;
    }

    .h3-mivida{
        padding: 0;
        font-size: 1.5rem;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .habilidades {
        margin: 0;
        padding: 0;
        width: 90%;
        font-size: 1.75rem;

    }

    #image-carousel img {
        width: 35%;
    }

    #prev-btn, #next-btn {
        display: inline-block;
    }

    .img-habilidades {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: .75rem 0;
        gap: 1.2rem;
    }
    
    .id-habilidad img {
        width: 1.5rem;
        height: auto;
        display: inline-block;
    }

    .section4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .educacion {
        margin: 0;
        padding: 0;
        width: 90%;
        font-size: 1.75rem;
        
    }

    .grid-container {
        padding: 3rem 1rem;
    }

    .grid-item p {
        font-size: 1rem;

    }

    .grid-container .item4 {
        padding: 0;
    }

    .section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .proyectos {
        padding: 0;
        margin: 0;
        width: 90%;
        font-size: 1.75rem;
        
    }

    .grid-prueba {
        padding: 3rem 2rem 0 2rem;
    }

    
    .proy-media-query {
        display: flex;
        flex-direction: column;
    }
    
    .h4-proy {
        font-size: 1.2rem;
        padding: 0 0 1rem 0;
    }

    .proy-media-query ul{
        padding: 0;
        margin: 0;
    }
    
    ul.proy-media{
        display: flex;
        position: relative;

    }

    .section6 {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .section6 .container {
        padding: 0;
    }

    .box-info {
        padding-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .container form{
        padding: 3rem 0;
        width: 80%;
    }

}

@media screen and (max-width:550px) {
    html{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .info-inicio h1{
        font-size: 1.3rem;
        margin-bottom: 1rem;

    }

    .section {
        background-size: cover;
        border-radius: 0;
    }

    #image-carousel img{
        max-width: 25%;
    }

    .id-habilidad img{
        max-width: 1.2rem;
    }
}

@media screen and (max-width:450px){

    .section{
        padding: 10rem 0;
    }

    #image-carousel img{
        max-width: 25%;
    }

    .id-habilidad img{
        max-width: 1rem;
    }

    .info-inicio {
        padding: 2rem .5rem;
    }

    .info-inicio h1 {
        padding-bottom: 1.2rem;
    }

    .foto-inicio {
        padding:  0 1rem;
    }

    .foto-inicio img {
        min-width: 100%;
    }

    .h4-proy{ 
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .proy-media {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 1rem;
    }

}

@media screen and (max-width:400px) {
    .img-habilidades img {
        width: .75rem;
    }
}

@media screen and (max-width:365px){
    .img-habilidades img {
        width: .5rem;
    }
}